@import "../../styles/mixins.scss";

.shared-flat-dashboard {
  height: calc(100vh - 108px);
  overflow: hidden;
  overflow-y: auto;
  background: #eee;

  .loader,
  .empty {
    display: flex;
    text-align: center;
  }

  .shared-flat-header {
    padding: 10px 0;
    background: #131313;
    color: #fff;
    font-size: 12px !important;
    span {
      float: right;
    }
  }

  .event-list-wrapper {
    overflow: hidden;
    overflow-y: auto;
  }

  div {
    transition: opacity 300ms ease;
    &.opacify {
      pointer-events: none;
      opacity: 0.25;
    }
  }

  .event-thumbnail {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
