@import "../../styles/mixins.scss";

.shared-flat-dashboard {
  height: calc(100vh - 45px);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 20s ease infinite;

  header {
    padding: 10px 0;
    background: #131313;
    color: #fff;
    font-size: 12px !important;
    span {
      float: right;
    }
  }

  .event-list-wrapper {
    max-height: 74vh;
    overflow: hidden;
    overflow-y: auto;

    .am-card {
      min-height: 0;
      .am-card-body {
        border-top: none;
        min-height: 0;
      }
    }
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
