@import "../../styles/mixins.scss";

.login-form,
.welcome {
  margin-top: 0.75rem;
}

.welcome {
  padding: 0 !important;
  overflow: hidden;
}

.login-form {
  .am-card-body {
    border-top: none;
  }
  .baseline svg {
    margin-top: -4px;
    fill: rgb(197, 35, 35);
  }
}

.container {
  height: 100vh;
}
