@import '../../styles/mixins.scss';

.login-form,
.welcome {
    margin-top: .75rem;
}

.welcome {
    padding: 0 !important;
}

.login-form {
    .baseline svg {
        margin-top: -4px;
        fill: rgb(197, 35, 35);
    }
}

.container {
    height: 100vh;
}
